.page-main {
  &__title-wrapper {
    padding: 73px 41px;
    background-color: $main-background-color;
  }

  &__title-wrapper--index {
    padding: 73px 30px 120px 30px;
    background-color: $additional-background-color;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    color: $additional-font-color-1;

    margin: 0;
  }

  &__title--index {
    color: $additional-font-color-2;
  }
}
